@mixin clearfix() {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

@mixin media-up($point) {
    @if $point == xs {
        @media (min-width: $media-xs) { 
            @content;
        }
    }
    @if $point == sm {
        @media (min-width: $media-sm) { 
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: $media-md) { 
            @content;
        }
    }
    @else if $point == lg {
        @media (min-width: $media-lg) { 
            @content;
        }
    }
    @else if $point == xl {
        @media (min-width: $media-xl) { 
            @content;
        }
    }
}

@mixin loopColoumn($point) {
    @for $i from 1 through $max-col {
        .#{$prefix}-#{$point}-#{$i} {
            width: (100% / ($max-col/$i)); 
        }
    }
}
