// Responsive
$prefix: col;
$gutter-width: 32px;
$max-col: 12;

$media-xs: 0;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1180px;

$container-xl-width: 1136px;
$container-lg-width: 960px;
$container-md-width: 720px;
$container-sm-width: 540px;
